<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>审批过程</title>
    <link rel="stylesheet" href="/activiti/ui/plugins/layui/css/layui.css" media="all">
</head>
<body>
<div class="demoTable" style="padding:10px 10px 0px 10px">
    <div class="layui-row layui-col-space12">
        <div class="layui-col-md2">
            <input class="layui-input" name="id" id="userName" autocomplete="off" placeholder="请输入userName查询">
        </div>
        <div class="layui-col-md1">
            <button class="layui-btn" data-type="reload" id="model_search" onclick="active.reload();">查询</button>
        </div>
    </div>
    <table id="proc_list" lay-filter="model" lay-data="{id: 'idModel'}"></table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="view">办理</a>
    <a class="layui-btn layui-btn-xs" lay-event="back">流程回退</a>
</script>

<script src="/activiti/ui/plugins/layui/layui.js"></script>
<script src="/activiti/ui/src/js/audit/audit.js"></script>
</body>
</html>