<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>流程回退</title>
</head>
<body>
<div style="margin: 15px;">
    <input id="proInstId" type="hidden"/>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
        window.location.href="http://localhost:8002/viewProImg?processInstanceId="+parent.proInstIds
//        window.location.href="http://localhost:8002/viewProImg?processInstanceId=87505"+$("#proInstId").val();
//    layui.use(['jquery'], function(){
//        var $=layui.jquery;
//
//    })
</script>
</body>
</html>